.close-button {
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.close-button span {
  cursor: pointer;
}

.client-modal-content-wrapper {
  display: flex;
}

.client-modal-content-wrapper > div {
  flex-basis: 50%;
}

.client-modal-title {
  text-decoration: underline;
}

.client-prefix {
  font-weight: 700;
}
