.close-button {
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.close-button span {
  cursor: pointer;
}

.client-modal-content-wrapper {
  display: flex;
}

.client-modal-content-wrapper > div {
  flex-basis: 50%;
}

.client-modal-content-wrapper > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.client-modal-title {
  text-decoration: underline;
}

.client-prefix {
  font-weight: 700;
}

.member-wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-wrapper > div .button span {
  padding-bottom: 0;
  padding-top: 0;
}
