form.member-form {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.member-form > input {
  margin-bottom: 2%;
}

form.member-form > label {
  font-size: 10px;
  margin-bottom: 3px;
}

p.error {
  font-size: 12px;
}
